fastapi==0.141.1
uvicorn==0.53.0
psycopg2-binary==2.9.13
sqlalchemy==2.0.54
python-multipart==0.0.32
clickhouse_connect==1.9.0
httpagentparser==1.9.9
asyncpg==0.31.0
user_agents==2.2.0
httpx==0.28.1
requests==2.34.2
