{% raw %}
<script type="text/x-template" id="sources-template">
    <v-container fluid>
        <v-row align="center" class="mb-4">
            <v-col>
                <div class="page-title">Sources</div>
                <div class="page-subtitle">Manage your traffic sources</div>
            </v-col>
            <v-col class="d-flex justify-end" cols="auto">
                <v-btn class="mr-2" outlined color="primary" @click="openCatalog">
                    <v-icon small class="mr-1">mdi-view-grid-outline</v-icon>
                    New from template
                </v-btn>
                <v-btn color="primary" elevation="0" @click="openCreate">
                    <v-icon small class="mr-1">mdi-plus</v-icon>
                    Add source
                </v-btn>
            </v-col>
        </v-row>

        <div class="filter-bar align-center mb-3">
            <v-text-field
                    v-model="sourceSearch"
                    label="Search sources"
                    prepend-inner-icon="mdi-magnify"
                    outlined
                    dense
                    hide-details
                    clearable
                    class="source-search"
            ></v-text-field>
        </div>

        <v-dialog v-model="dialog" persistent>
            <v-card class="dialog-lg dialog-flex">
                <v-card-title>
                    <span class="text-h6">{{ isEdit ? 'Edit source' : 'Add source' }}</span>
                </v-card-title>

                <v-card-text>

                    <v-text-field
                            label="Source name"
                            v-model="form.name"
                            outlined
                            dense
                    ></v-text-field>

                    <v-text-field
                            label="Traffic loss (%)"
                            v-model="form.traffic_loss"
                            type="number"
                            step="0.01"
                            outlined
                            dense
                    ></v-text-field>

                    <v-text-field
                            label="S2S postback URL"
                            v-model="form.s2s_postback"
                            outlined
                            dense
                    ></v-text-field>

                    <v-subheader class="pl-0">S2S postback statuses</v-subheader>
                    <v-row dense>
                        <v-col cols="3" v-for="status in ['sale', 'lead', 'rejected', 'upsale']" :key="status">
                            <v-checkbox
                                    :label="status"
                                    v-model="form.s2s_postback_statuses[status]"
                                    dense
                            ></v-checkbox>
                        </v-col>
                    </v-row>

                    <v-subheader class="pl-0">Conversion fanout controls</v-subheader>
                    <v-checkbox
                            label="Don't forward upsell conversions to this source"
                            v-model="form.disable_upsell"
                            dense
                            hide-details
                            hint="Sale/lead forwards are unaffected; campaign postbacks are unaffected."
                            persistent-hint
                    ></v-checkbox>
                    <v-text-field
                            label="Forward only this share of conversions (%)"
                            v-model="form.sample_percent"
                            type="number"
                            min="0"
                            max="100"
                            step="1"
                            outlined
                            dense
                            hint="Leave empty to forward every conversion. The same click id always gets the same decision."
                            persistent-hint
                    ></v-text-field>

                    <div class="d-flex align-center mt-2">
                        <v-subheader class="pl-0">Additional settings (API keys, etc.)</v-subheader>
                    </div>
                    <v-row
                            v-for="(extra, index) in form.additionalSettingsList"
                            :key="'extra-' + index"
                            dense
                            align="center"
                    >
                        <v-col cols="4">
                            <v-text-field
                                    label="Key"
                                    v-model="extra.key"
                                    outlined
                                    dense
                                    hide-details
                            ></v-text-field>
                        </v-col>
                        <v-col cols="6">
                            <v-text-field
                                    label="Value"
                                    v-model="extra.value"
                                    outlined
                                    dense
                                    hide-details
                            ></v-text-field>
                        </v-col>
                        <v-col cols="2" class="d-flex justify-center">
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn icon x-small v-bind="attrs" v-on="on" @click="removeAdditionalSetting(index)">
                                        <v-icon small color="red">mdi-delete-outline</v-icon>
                                    </v-btn>
                                </template>
                                <span>Remove setting</span>
                            </v-tooltip>
                        </v-col>
                    </v-row>

                    <v-btn
                            small
                            outlined
                            color="primary"
                            class="mt-2"
                            @click="addAdditionalSetting"
                    >
                        <v-icon small class="mr-1">mdi-plus</v-icon>Add setting
                    </v-btn>

                    <v-subheader class="pl-0">Settings mapping</v-subheader>
                    <v-row
                            v-for="(setting, index) in form.settings"
                            :key="index"
                            dense
                            class="mb-2"
                    >
                        <v-col cols="3">
                            <v-text-field
                                    label="Name"
                                    v-model="setting.name"
                                    :readonly="!setting.editable_name"
                                    outlined
                                    dense
                            ></v-text-field>
                        </v-col>
                        <v-col cols="3">
                            <v-text-field
                                    label="Parameter"
                                    v-model="setting.parameter"
                                    :readonly="!setting.editable_name"
                                    outlined
                                    dense
                            ></v-text-field>
                        </v-col>
                        <v-col cols="4">
                            <v-text-field
                                    label="Token"
                                    v-model="setting.token"
                                    outlined
                                    dense
                            ></v-text-field>
                        </v-col>
                        <v-col cols="2" class="d-flex align-center justify-center">
                            <v-tooltip bottom v-if="setting.editable_name">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn icon x-small v-bind="attrs" v-on="on" @click="removeSetting(index)">
                                        <v-icon small color="red">mdi-delete</v-icon>
                                    </v-btn>
                                </template>
                                <span>Remove parameter</span>
                            </v-tooltip>
                        </v-col>
                    </v-row>

                    <v-btn
                            small
                            outlined
                            color="primary"
                            class="mt-2"
                            @click="addSetting"
                    >
                        <v-icon small class="mr-1">mdi-plus</v-icon>Add parameter
                    </v-btn>

                    <v-divider class="my-4"></v-divider>
                    <v-subheader class="pl-0">CAPI integration</v-subheader>
                    <v-switch
                            v-model="capiActive"
                            label="Active"
                            inset dense hide-details
                            hint="When off, this channel sends no conversions to its pixel."
                            persistent-hint
                    ></v-switch>
                    <div v-for="(row, index) in capiPixelIds" :key="index"
                         class="d-flex align-center mt-3">
                        <v-select
                                label="CAPI pixel"
                                :items="capiPixelOptions"
                                v-model="capiPixelIds[index]"
                                outlined dense hide-details
                                clearable
                                class="bot-rule-grow"
                                hint="Bind a pixel to this channel so only conversions attributed to it are sent."
                                persistent-hint
                        ></v-select>
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn icon small class="ml-1" v-bind="attrs" v-on="on"
                                       :disabled="!row" @click="editCapiPixel">
                                    <v-icon small>mdi-pencil-outline</v-icon>
                                </v-btn>
                            </template>
                            <span>Edit pixels in CAPI integrations (Settings)</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn icon small v-bind="attrs" v-on="on"
                                       :disabled="!row" @click="deleteCapiPixel(row)">
                                    <v-icon small color="red">mdi-delete-outline</v-icon>
                                </v-btn>
                            </template>
                            <span>Delete this pixel</span>
                        </v-tooltip>
                    </div>
                    <div v-if="capiPixelIds.length" class="caption grey--text mt-1">
                        Configure a pixel in ONE place (offer or channel) to avoid
                        duplicate events.
                    </div>
                    <v-btn x-small text color="primary" class="mt-1" @click="addCapiPixelRow">
                        <v-icon x-small class="mr-1">mdi-plus</v-icon>Add pixel
                    </v-btn>
                    <v-btn x-small text class="mt-1 ml-2" @click="openQuickPixel">
                        <v-icon x-small class="mr-1">mdi-plus</v-icon>Create new pixel
                    </v-btn>

                    <v-switch
                            v-model="capiCostSync"
                            label="Impression cost sync"
                            inset dense hide-details class="mt-3"
                    ></v-switch>
                    <div class="caption grey--text mb-1">
                        Cost sync needs the system currency set so costs are assigned
                        correctly — configure it under Settings → General.
                    </div>

                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text @click="close">Cancel</v-btn>
                    <v-btn color="primary" elevation="0" @click="save">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>


        <v-dialog v-model="capiQuickDialog" max-width="520">
            <v-card>
                <v-card-title>Add pixel</v-card-title>
                <v-card-text>
                    <v-text-field label="Title" v-model="capiQuickForm.title" outlined dense></v-text-field>
                    <v-text-field label="Pixel / Dataset ID" v-model="capiQuickForm.pixel_id"
                                  outlined dense></v-text-field>
                    <v-text-field label="API key / Access token" v-model="capiQuickForm.access_token"
                                  type="password" outlined dense></v-text-field>
                    <v-text-field label="Default event name" v-model="capiQuickForm.default_event_name"
                                  outlined dense></v-text-field>
                    <div class="caption grey--text">
                        Full options (custom conversion matching, payout customisation, action source,
                        data quality token) are on the CAPI integrations page.
                    </div>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text @click="capiQuickDialog = false">Cancel</v-btn>
                    <v-btn color="primary" elevation="0" @click="saveQuickPixel">Add</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="catalogDialog" scrollable>
            <v-card class="dialog-lg">
                <v-card-title class="d-flex align-center">
                    <span class="text-h6">Traffic sources catalog</span>
                    <v-spacer></v-spacer>
                    <v-btn icon small @click="catalogDialog = false">
                        <v-icon small>mdi-close</v-icon>
                    </v-btn>
                </v-card-title>

                <v-card-text>
                    <div class="catalog-toolbar mb-3">
                        <v-text-field
                                v-model="catalogSearch"
                                label="Search sources"
                                prepend-inner-icon="mdi-magnify"
                                outlined
                                dense
                                clearable
                                hide-details
                                class="catalog-search"
                        ></v-text-field>
                        <v-chip-group v-model="catalogFilter" mandatory>
                            <v-chip value="all" small filter>All</v-chip>
                            <v-chip value="api" small filter>With API integrations</v-chip>
                        </v-chip-group>
                    </div>

                    <div class="catalog-grid" v-if="catalogPresets.length">
                        <div class="catalog-card" v-for="preset in catalogPresets" :key="preset.name">
                            <div class="aff-catalog-logo">
                                <div v-if="!showLogo(preset)" class="aff-catalog-logo-fallback">{{ preset.name.charAt(0) }}</div>
                                <img v-if="showLogo(preset)" :src="logoSrc(preset)"
                                     width="48" height="48" alt=""
                                     @load="logoLoaded(preset, $event)" @error="$set(preset, '_logoBroken', true)">
                            </div>
                            <div class="catalog-card-name">{{ preset.name }}</div>
                            <div class="catalog-card-caps">
                                <span v-for="cap in preset.capabilities" :key="cap"
                                      class="status-chip" :class="capChipClass(cap)">{{ capLabel(cap) }}</span>
                                <span v-if="!preset.capabilities.length" class="catalog-card-nocaps">No API integration</span>
                            </div>
                            <v-btn small color="primary" elevation="0" @click="addPreset(preset)">
                                <v-icon small class="mr-1">mdi-plus</v-icon>Add
                            </v-btn>
                        </div>
                    </div>
                    <div v-else class="empty-state py-8">
                        <v-icon>mdi-filter-off-outline</v-icon>
                        <div class="mt-2">No sources match your search</div>
                        <v-btn small text color="primary" class="mt-2"
                               @click="catalogSearch = ''; catalogFilter = 'all'">Clear filters</v-btn>
                    </div>
                </v-card-text>
            </v-card>
        </v-dialog>


        <v-row dense class="mt-4">
            <v-col>
                <v-card>
                    <!-- Bulk actions bar -->
                    <div v-if="selected.length" class="d-flex align-center pa-2 pl-4 bulk-bar">
                        <span class="text-body-2 font-weight-medium mr-4">{{ selected.length }} selected</span>
                        <v-btn small color="red" elevation="0" class="mr-2" :loading="bulkLoading" @click="bulkDelete">
                            <v-icon small class="mr-1">mdi-trash-can-outline</v-icon>Delete
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn small text @click="selected = []">Clear selection</v-btn>
                    </div>
                    <v-data-table v-col-resize:sources="headers"
                            v-model="selected"
                            show-select
                            :headers="headers"
                            :items="filteredSources"
                            dense
                            :loading="loadingSources"
                            :items-per-page="25"
                            :footer-props="{ 'items-per-page-options': [10, 25, 50, 100] }"
                    >
                        <template v-slot:item.name="{ item }">
                            <div class="aff-name-cell">
                                <template v-if="presetFor(item.name) && (presetFor(item.name).logo_url || presetFor(item.name).logo_domain) && !item._logoBroken">
                                    <div class="aff-logo-wrap">
                                        <img :src="presetFor(item.name).logo_url || ('/backend/api/sources/favicon/' + faviconB64(presetFor(item.name).logo_domain))"
                                             width="20" height="20" alt="" class="aff-table-logo"
                                             @load="tableLogoLoaded(item, $event)" @error="$set(item, '_logoBroken', true)">
                                    </div>
                                </template>
                                <span v-else class="aff-table-logo-fallback aff-table-logo-solo">{{ item.name.charAt(0) }}</span>
                                <span>{{ item.name }}</span>
                            </div>
                        </template>
                        <template v-slot:item.s2s_postback_statuses="{ item }">
                            {{ Object.keys(item.s2s_postback_statuses || {}).filter(k =>
                            (item.s2s_postback_statuses || {})[k]).join(', ') }}
                        </template>
                        <template v-slot:item.created_at="{ item }">
                            {{ $formatDate(item.created_at) }}
                        </template>
                        <template v-slot:item.updated_at="{ item }">
                            {{ $formatDate(item.updated_at) }}
                        </template>
                        <template v-slot:item.actions="{ item }">
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn icon small color="primary" v-bind="attrs" v-on="on" @click="openEdit(item)"
                                           :aria-label="'Edit ' + item.name">
                                        <v-icon small>mdi-pencil-outline</v-icon>
                                    </v-btn>
                                </template>
                                <span>Edit</span>
                            </v-tooltip>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn icon small color="red" v-bind="attrs" v-on="on" @click="deleteSource(item)"
                                           :aria-label="'Delete ' + item.name">
                                        <v-icon small>mdi-trash-can-outline</v-icon>
                                    </v-btn>
                                </template>
                                <span>Delete</span>
                            </v-tooltip>
                        </template>

                        <template v-slot:no-data>
                            <div class="empty-state" v-if="sourceSearch">
                                <v-icon>mdi-filter-off-outline</v-icon>
                                <div class="mt-2">No sources match your search</div>
                                <v-btn small color="primary" elevation="0" class="mt-3" @click="sourceSearch = ''">
                                    Clear search
                                </v-btn>
                            </div>
                            <div class="empty-state" v-else>
                                <v-icon>mdi-database-outline</v-icon>
                                <div class="mt-2">No traffic sources yet — add your first one</div>
                                <v-btn small color="primary" elevation="0" class="mt-3" @click="openCreate">
                                    <v-icon small class="mr-1">mdi-plus</v-icon>Add source
                                </v-btn>
                            </div>
                        </template>
                    </v-data-table>
                </v-card>
            </v-col>
        </v-row>

        <confirm-dialog-component ref="confirm" />
    </v-container>
</script>

<script type="application/javascript">
    Vue.component('sources-component', {
        template: '#sources-template',
        data() {
            return {
                isEdit: false,
                dialog: false,
                loadingSources: false,
                catalogDialog: false,
                catalogSearch: '',
                catalogFilter: 'all',
                sourceSearch: '',
                presets: [],
                loadingPresets: false,
                capLabels: {
                    cost: 'Cost update',
                    pause_campaign: 'Campaign pause',
                    blacklist: 'Blacklist placement',
                    pause_creative: 'Pause creative'
                },
                headers: [
                    {text: 'Name', value: 'name'},
                    {text: 'Traffic Loss', value: 'traffic_loss'},
                    {text: 'Postback', value: 's2s_postback'},
                    {text: 'Statuses', value: 's2s_postback_statuses'},
                    {text: 'Created', value: 'created_at'},
                    {text: 'Updated', value: 'updated_at'},
                    {text: 'Actions', value: 'actions', sortable: false}
                ],
                sources: [],
                selected: [],
                bulkLoading: false,
                form: {
                    id: null,
                    name: '',
                    traffic_loss: 0,
                    s2s_postback: '',
                    s2s_postback_statuses: {
                        sale: true,
                        lead: false,
                        rejected: false,
                        upsale: false
                    },
                    disable_upsell: false,
                    sample_percent: null,
                    additional_settings: {},
                    additionalSettingsList: [],
                    settings: []
                },
                capiPixels: [],
                capiPixelIds: [],
                capiActive: true,
                capiCostSync: false,
                capiQuickDialog: false,
                capiQuickForm: {title: '', pixel_id: '', access_token: '', default_event_name: 'Purchase'}


            }
        },
        mounted() {
            this.$vuetify.theme.dark = (document.documentElement.dataset.theme === 'dark');
            this.loadSources();
            this.loadPresets();
            this.$root.$on('load-sources', (focus) => {
                if (focus) this.applySearchFocus(focus);
                this.loadSources();
            });
        },
        computed: {
            // The saved-sources list (main table), not the catalog dialog.
            filteredSources() {
                const q = (this.sourceSearch || '').trim().toLowerCase();
                if (!q) return this.sources;
                return this.sources.filter(s => (s.name || '').toLowerCase().includes(q));
            },
            presetByName() {
                const map = {};
                this.presets.forEach(p => { map[p.name] = p; });
                return map;
            },
            // Catalog cards: search + API filter, sources with capabilities
            // first (alphabetical inside each group), "Other" always pinned last.
            catalogPresets() {
                const q = (this.catalogSearch || '').trim().toLowerCase();
                let list = this.presets.filter(p => {
                    if (this.catalogFilter === 'api' && !p.capabilities.length) return false;
                    return !q || p.name.toLowerCase().indexOf(q) !== -1;
                });
                list.sort((a, b) => {
                    if (a.name === 'Other') return 1;
                    if (b.name === 'Other') return -1;
                    const capDiff = (b.capabilities.length ? 1 : 0) - (a.capabilities.length ? 1 : 0);
                    if (capDiff) return capDiff;
                    return a.name.toLowerCase().localeCompare(b.name.toLowerCase());
                });
                return list;
            },
            capiPixelOptions() {
                return this.capiPixels.map(p => ({
                    text: `${p.title} — ${p.pixel_id}${p.status === 'inactive' ? ' (inactive)' : ''}`,
                    value: p.id
                }));
            }
        },
        methods: {
            getDefaultSettings() {
                return [
                    {name: 'Keyword', parameter: 'keyword', token: '', editable_name: false},
                    {name: 'Cost', parameter: 'cost', token: '', editable_name: false},
                    {name: 'Currency', parameter: 'currency', token: '', editable_name: false},
                    {name: 'External ID', parameter: 'external_id', token: '', editable_name: false},
                    {name: 'Creative ID', parameter: 'utm_creative', token: '{{ad.name}}', editable_name: false},
                    {
                        name: 'Ad campaign ID',
                        parameter: 'utm_campaign',
                        token: '{{campaign.name}}',
                        editable_name: false
                    },
                    {name: 'Site', parameter: 'utm_source', token: '{{site_source_name}}', editable_name: false},
                    {name: 'Sub id 1', parameter: 'sub_id_1', token: '', editable_name: true},
                    {name: 'Sub id 2', parameter: 'sub_id_2', token: '', editable_name: true},
                    {name: 'Sub id 3', parameter: 'sub_id_3', token: '', editable_name: true},
                    {name: 'Sub id 4', parameter: 'sub_id_4', token: '', editable_name: true},
                    {name: 'Sub id 5', parameter: 'sub_id_5', token: '', editable_name: true},
                    {name: 'Sub id 6', parameter: 'sub_id_6', token: '', editable_name: true},
                    {name: 'Sub id 7', parameter: 'sub_id_7', token: '', editable_name: true},
                    {name: 'Sub id 8', parameter: 'sub_id_8', token: '', editable_name: true},
                    {name: 'Sub id 9', parameter: 'sub_id_9', token: '', editable_name: true},
                    {name: 'Sub id 10', parameter: 'sub_id_10', token: '', editable_name: true}
                ];
            },
            addSetting() {
                this.form.settings.push({
                    name: '',
                    parameter: '',
                    token: '',
                    editable_name: true
                });
            },

            removeSetting(index) {
                this.form.settings.splice(index, 1);
            },
            async loadCapiPixels() {
                try {
                    const res = await fetch("/backend/api/settings/capi-pixels",
                                            {credentials: "include"});
                    if (!res.ok) return;
                    const data = await res.json();
                    this.capiPixels = (data.pixels || []).filter(p => p.status === 'active');
                } catch (e) {
                    /* non-fatal */
                }
            },
            async loadCapiBinding(sourceId) {
                this.capiPixelIds = [];
                this.capiActive = true;
                this.capiCostSync = false;
                if (!sourceId) return;
                try {
                    const res = await fetch(
                        `/backend/api/settings/capi-bindings?scope=channel&scope_id=${sourceId}`,
                        {credentials: "include"});
                    if (!res.ok) return;
                    const data = await res.json();
                    this.capiPixelIds = (data.pixel_ids || []).slice();
                    this.capiActive = data.active !== false;
                    this.capiCostSync = !!data.impression_cost_sync;
                } catch (e) {
                    /* non-fatal */
                }
            },
            addCapiPixelRow() {
                this.capiPixelIds.push(null);
            },
            async saveCapiBinding(sourceId) {
                if (!sourceId) return;
                const ids = this.capiPixelIds.filter(
                    id => id !== null && id !== undefined && id !== '');
                try {
                    await fetch("/backend/api/settings/capi-bindings", {
                        method: "PUT",
                        credentials: "include",
                        headers: {"Content-Type": "application/json"},
                        body: JSON.stringify({
                            scope: "channel", scope_id: sourceId,
                            pixel_ids: ids,
                            active: !!this.capiActive,
                            impression_cost_sync: !!this.capiCostSync
                        })
                    });
                } catch (e) {
                    /* binding is best-effort; the source itself already saved */
                }
            },
            openQuickPixel() {
                this.capiQuickForm = {title: '', pixel_id: '', access_token: '',
                                      default_event_name: 'Purchase'};
                this.capiQuickDialog = true;
            },
            async saveQuickPixel() {
                const f = this.capiQuickForm;
                if (!f.title || !f.pixel_id) {
                    this.$root.$emit("show-message", {type: "error",
                        text: "Title and Pixel / Dataset ID are required."});
                    return;
                }
                try {
                    const res = await fetch("/backend/api/settings/capi-pixels", {
                        method: "POST",
                        credentials: "include",
                        headers: {"Content-Type": "application/json"},
                        body: JSON.stringify(Object.assign(
                            {platform: "meta", action_source: "website",
                             custom_matching: false, conversion_matching: [],
                             payout_customisations: []}, f))
                    });
                    const data = await window.fetchJsonFromResponse(res)
                        .catch(e => ({detail: e.message}));
                    if (!res.ok) {
                        this.$root.$emit("show-message", {type: "error",
                            text: sanitizeToastMessage(data.detail || "Could not add the pixel")});
                        return;
                    }
                    this.capiQuickDialog = false;
                    await this.loadCapiPixels();
                    const created = data.pixel || {};
                    if (created.id) this.capiPixelIds.push(created.id);
                } catch (e) {
                    this.$root.$emit("show-message", {type: "error",
                        text: sanitizeToastMessage(e.message)});
                }
            },
            editCapiPixel() {
                window.location.href = "/backend/settings";
            },
            async deleteCapiPixel(pixelId) {
                const id = pixelId || null;
                if (!id) return;
                const pixel = this.capiPixels.find(p => p.id === id);
                if (!window.confirm(`Delete pixel “${(pixel && pixel.title) || id}”?`)) return;
                const res = await fetch(`/backend/api/settings/capi-pixels/${id}`,
                                        {method: "DELETE", credentials: "include"});
                if (res.ok) {
                    this.capiPixelIds = this.capiPixelIds.filter(x => x !== id);
                    await this.loadCapiPixels();
                }
            },
            addAdditionalSetting() {
                this.form.additionalSettingsList.push({key: '', value: ''});
            },
            removeAdditionalSetting(index) {
                this.form.additionalSettingsList.splice(index, 1);
            },
            // additional_settings is stored as an object; the dialog edits it as a
            // key/value list so any source can carry any API keys it needs.
            toAdditionalSettingsObject(list) {
                const obj = {};
                (list || []).forEach(e => {
                    if (e.key && e.key.trim()) obj[e.key.trim()] = e.value || '';
                });
                return obj;
            },
            toAdditionalSettingsList(obj) {
                return Object.entries(obj || {}).map(([key, value]) => ({key, value}));
            },
            // Global-search hit: pre-fill the list search so this source is the
            // only row. Clearing the field restores the full list.
            applySearchFocus(focus) {
                this.sourceSearch = focus.name || '';
            },
            loadSources() {
                this.loadingSources = true;
                fetch("/backend/api/sources/", {
                    credentials: "include"
                })
                    .then(window.fetchJsonFromResponse)
                    .then(data => {
                        this.sources = data;
                    })
                    .catch(err => {
                        console.error(err);
                        this.$root.$emit("show-message", {type: "error", text: sanitizeToastMessage(err.message)});
                    })
                    .finally(() => {
                        this.loadingSources = false;
                    });
            },

            openCatalog() {
                this.catalogDialog = true;
                this.catalogSearch = '';
                this.catalogFilter = 'all';
                if (!this.presets.length) {
                    this.loadPresets();
                }
            },

            loadPresets() {
                this.loadingPresets = true;
                fetch("/backend/api/sources/presets", {
                    credentials: "include"
                })
                    .then(async res => {
                        if (!res.ok) throw new Error("Failed to load the sources catalog.");
                        return res.json();
                    })
                    .then(data => {
                        this.presets = data.presets || [];
                    })
                    .catch(err => {
                        console.error(err);
                        this.$root.$emit("show-message", {type: "error", text: sanitizeToastMessage(err.message)});
                    })
                    .finally(() => {
                        this.loadingPresets = false;
                    });
            },

            capLabel(cap) {
                return this.capLabels[cap] || cap;
            },

            capChipClass(cap) {
                return (cap === 'cost' || cap === 'pause_campaign') ? 'status-chip--info' : 'status-chip--neutral';
            },

            showLogo(p) {
                return !!(p.logo_url || p.logo_domain) && !p._logoBroken;
            },
            logoSrc(p) {
                return p.logo_url || ('/backend/api/sources/favicon/' + this.faviconB64(p.logo_domain));
            },
            // The favicon proxy returns a 1×1 transparent PNG for missing
            // favicons (HTTP 200, so @error never fires) — treat that as broken.
            logoLoaded(p, e) {
                if (e.target.naturalWidth <= 1) this.$set(p, '_logoBroken', true);
            },
            presetFor(name) {
                return this.presetByName[name] || null;
            },
            tableLogoLoaded(item, e) {
                if (e.target.naturalWidth <= 1) this.$set(item, '_logoBroken', true);
            },

            addPreset(preset) {
                const payload = {
                    name: preset.name,
                    traffic_loss: 0,
                    s2s_postback: (preset.postback || '').replace(/YOUR-TRACKER-DOMAIN/gi, window.location.host),
                    s2s_postback_statuses: {sale: true, lead: false, rejected: false, upsale: false},
                    additional_settings: {},
                    settings: preset.params || []
                };
                fetch("/backend/api/sources/", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(payload),
                    credentials: "include"
                })
                    .then(async res => {
                        const text = await res.text();
                        if (!res.ok) {
                            let msg = text;
                            try {
                                const err = JSON.parse(text);
                                msg = err.detail || msg;
                            } catch {
                            }
                            // Presets live in the sources table, so adding one
                            // that is already there is a no-op, not an error.
                            if (res.status === 400 && /already exists/i.test(msg)) {
                                this.catalogDialog = false;
                                this.$root.$emit("show-message", {
                                    type: "info",
                                    text: `Source "${preset.name}" is already in your sources`
                                });
                                this.loadSources();
                                return;
                            }
                            throw new Error(msg);
                        }
                        this.catalogDialog = false;
                        this.$root.$emit("show-message", {
                            type: "success",
                            text: `Source "${preset.name}" created from template`
                        });
                        this.loadSources();
                    })
                    .catch(err => {
                        this.$root.$emit("show-message", {type: "error", text: sanitizeToastMessage(err.message)});
                    });
            },

            openCreate() {
                this.isEdit = false;                this.dialog = true;
                this.form = {
                    id: null,
                    name: '',
                    traffic_loss: 0,
                    s2s_postback: '',
                    s2s_postback_statuses: {
                        sale: true,
                        lead: false,
                        rejected: false,
                        upsale: false
                    },
                    disable_upsell: false,
                    sample_percent: null,
                    additional_settings: {},
                    additionalSettingsList: [],
                    settings: this.getDefaultSettings()
                };
                this.loadCapiPixels();
                this.loadCapiBinding(null);
            },

            openEdit(source) {
                this.isEdit = true;
                this.dialog = true;
                // Fanout controls live inside additional_settings; pull them out
                // into their own fields and leave the free-form list for the rest.
                const additional = source.additional_settings || {};
                const extra = Object.assign({}, additional);
                const disableUpsell = !!extra.disable_upsell;
                const samplePercent = (extra.sample_percent === undefined
                    || extra.sample_percent === null || extra.sample_percent === '')
                    ? null : extra.sample_percent;
                delete extra.disable_upsell;
                delete extra.sample_percent;
                this.form = {
                    id: source.id,
                    name: source.name,
                    traffic_loss: source.traffic_loss,
                    s2s_postback: source.s2s_postback,
                    s2s_postback_statuses: source.s2s_postback_statuses || {},
                    disable_upsell: disableUpsell,
                    sample_percent: samplePercent,
                    additional_settings: additional,
                    additionalSettingsList: this.toAdditionalSettingsList(extra),
                    settings: source.settings || []
                };
                this.loadCapiPixels();
                this.loadCapiBinding(source.id);
            },

            save() {
                if (!this.form.name) {
                    this.$root.$emit("show-message", {type: "error", text: "Name is required."});
                    return;
                }

                const additional = this.toAdditionalSettingsObject(this.form.additionalSettingsList);
                if (this.form.disable_upsell) {
                    additional.disable_upsell = true;
                }
                const samplePercent = this.form.sample_percent;
                if (samplePercent !== null && samplePercent !== '' && samplePercent !== undefined) {
                    additional.sample_percent = Number(samplePercent);
                }

                const payload = {
                    name: this.form.name,
                    traffic_loss: this.form.traffic_loss,
                    s2s_postback: this.form.s2s_postback,
                    s2s_postback_statuses: this.form.s2s_postback_statuses,
                    additional_settings: additional,
                    settings: this.form.settings
                };

                const method = this.isEdit ? "PATCH" : "POST";
                const url = this.isEdit
                    ? `/backend/api/sources/${this.form.id}`
                    : `/backend/api/sources/`;

                fetch(url, {
                    method,
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(payload),
                    credentials: "include"
                })
                    .then(async res => {
                        const text = await res.text();
                        let created = {};
                        try {
                            created = JSON.parse(text);
                        } catch {
                        }
                        if (!res.ok) {
                            throw new Error(created.detail || text);
                        }
                        const savedId = (created && created.id) || this.form.id;
                        await this.saveCapiBinding(savedId);
                        this.dialog = false;
                        this.$root.$emit("show-message", {
                            type: "success",
                            text: this.isEdit ? "Source updated" : "Source created"
                        });
                        this.loadSources();
                    })
                    .catch(err => {
                        this.$root.$emit("show-message", {type: "error", text: sanitizeToastMessage(err.message)});
                    });
            },

            async deleteSource(source) {
                const ok = await this.$refs.confirm.open('Delete source',
                    `Are you sure you want to delete "${source.name}"? Sources linked to campaigns cannot be deleted. This cannot be undone.`);
                if (!ok) return;

                fetch(`/backend/api/sources/${source.id}`, {
                    method: "DELETE",
                    credentials: "include"
                })
                    .then(async res => {
                        const text = await res.text();
                        if (!res.ok) {
                            let msg = text;
                            try {
                                const err = JSON.parse(text);
                                msg = err.detail || msg;
                            } catch {
                            }
                            throw new Error(msg);
                        }
                        this.$root.$emit("show-message", {
                            type: "success",
                            text: `Source "${source.name}" deleted`
                        });
                        this.loadSources();
                    })
                    .catch(err => {
                        this.$root.$emit("show-message", {type: "error", text: sanitizeToastMessage(err.message)});
                    });
            },

            async bulkDelete() {
                const ok = await this.$refs.confirm.open(
                    'Delete sources',
                    `Permanently delete ${this.selected.length} source(s)? Sources linked to campaigns are skipped. This cannot be undone.`,
                    'Delete');
                if (!ok) return;
                this.bulkLoading = true;
                try {
                    const res = await fetch('/backend/api/sources/bulk', {
                        method: 'POST',
                        credentials: 'include',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify({ids: this.selected.map(x => x.id), action: 'delete'})
                    });
                    const data = await res.json().catch(() => ({}));
                    if (!res.ok) throw new Error(data.detail || 'HTTP ' + res.status);
                    const skipped = (data.skipped || []).length
                        ? ' Skipped (linked to campaigns): ' + data.skipped.join(', ') + '.' : '';
                    this.$root.$emit('show-message', {type: 'success',
                        text: `Deleted ${data.updated ?? this.selected.length} sources.${skipped}`});
                    this.selected = [];
                    this.loadSources();
                } catch (err) {
                    this.$root.$emit('show-message', {type: 'error',
                        text: 'Bulk delete failed: ' + sanitizeToastMessage(err.message)});
                } finally {
                    this.bulkLoading = false;
                }
            },

            close() {
                this.dialog = false;
            }
        }

    });
</script>
{% endraw %}